html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.button {
  background: #DA465D;
  box-shadow: 2px 3px 64px 0px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 22px 77px 22px 50px;
  text-transform: uppercase;
  font-family: LucidaGrande;
  font-size: 20px;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  text-decoration: none; }

.button:before {
  content: '';
  background-image: url(../img/icon/right-arrow.svg);
  position: absolute;
  top: 50%;
  right: 28px;
  width: 26px;
  height: 18px;
  transform: translateY(-50%); }

.step {
  background: #A81432;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../img/background/step_background.jpg) center/cover; }

.step__card {
  width: 374px;
  opacity: 0.92;
  background: #FFFFFF;
  height: 540px;
  display: block;
  margin: -18px auto 0;
  position: relative; }

.step__icon {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%); }

.step__description {
  font-family: Athelas-Regular;
  font-size: 25px;
  color: #DA465D;
  position: absolute;
  top: 373px;
  width: 100%;
  text-align: center; }

.step__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  white-space: nowrap;
  cursor: pointer; }

.step__wizard {
  width: 442px;
  display: block;
  position: absolute;
  bottom: 122px;
  left: 50%;
  transform: translateX(-50%); }

.step__wizard-item {
  /* Rectangle 12: */
  opacity: 0.31;
  background: #FFFFFF;
  border-radius: 100px;
  width: 142px;
  height: 10px;
  display: inline-block;
  margin-right: 2px; }

.step__wizard-item--active {
  opacity: 0.92; }

.chapter {
  background: #A81432;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../img/background/chapter_background.jpg) center/cover; }

.chapter__sidebar {
  width: 382px;
  height: 100%;
  background: #FAF0F1;
  text-align: center;
  position: relative;
  z-index: 2; }

.chapter__label {
  font-family: LucidaGrande;
  font-size: 14px;
  color: #A4283D;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: absolute;
  top: 55px;
  width: 100%; }

.chapter__title {
  font-family: Athelas-Regular;
  font-size: 36px;
  color: #A4283D;
  text-transform: uppercase;
  position: absolute;
  top: 80px;
  width: 100%; }

.chapter__controls {
  position: absolute;
  top: 164px;
  width: 194px;
  left: 50%;
  transform: translateX(-50%); }

.chapter__controls--previous {
  margin-right: 65px; }

.chapter__controls--play {
  margin-right: 60px; }

.chapter__waves {
  position: absolute;
  top: 264px;
  left: 50%;
  transform: translateX(-50%); }

.chapter__to {
  font-family: LucidaGrande;
  font-size: 14px;
  color: #A4283D;
  letter-spacing: 0.8px;
  position: absolute;
  top: 304px;
  width: 100%;
  text-transform: uppercase; }

.chapter__destination {
  font-family: Athelas-Regular;
  font-size: 36px;
  color: #A4283D;
  position: absolute;
  top: 332px;
  width: 100%;
  text-transform: uppercase; }
