<section class="information">
    <div class="information__header">Piratenbaai</div>
    <div class="information__description">A journey that will last a lifetime</div>
    <input class="information__input" data-ng-model="pirate.firstName" placeholder="ENTER NAME" type="text"/>
    <div class="information__gender-switch">
        <div class="information__gender-toggle information__gender-toggle--active"></div>
        <div class="information__gender-toggle"></div>
    </div>
    <a href="" data-ng-click="start()" class="information__button">Start</a>
</section>