
<section class="chapter" control data-ng-controller="ChapterController" style="background: url({{currentChapter.background}}) center/cover;">

    <aside class="chapter__sidebar">
        <div class="chapter__label">{{currentChapter.index}}</div>
        <div class="chapter__title">{{currentChapter.title}}</div>
        <div class="chapter__controls">
            <img src="app/img/icon/previous.svg" alt="" class="chapter__controls--previous">
            <img src="app/img/icon/pause.svg" alt="" class="chapter__controls--play">
            <img src="app/img/icon/next.svg" alt="" class="chapter__controls--next">
        </div>
        <img src="app/img/icon/water.svg" alt="" class="chapter__waves"/>
        <div class="chapter__to">Onderweg naar</div>
        <div class="chapter__destination">{{currentChapter.destination}}</div>
    </aside>

    <img src="app/img/icon/pirate.svg" alt="" class="chapter__pirate"/>
</section>