
<section class="chapter" data-ng-controller="ChapterController">

    <aside class="chapter__sidebar">
        <div class="chapter__label">Chapter 1</div>
        <div class="chapter__title">The beginning</div>
        <div class="chapter__controls">
            <img src="app/img/icon/previous.svg" alt="" class="chapter__controls--previous">
            <img src="app/img/icon/play.svg" alt="" class="chapter__controls--play">
            <img src="app/img/icon/next.svg" alt="" class="chapter__controls--next">
        </div>
        <img src="app/img/icon/water.svg" alt="" class="chapter__waves"/>
        <div class="chapter__to">On your way to</div>
        <div class="chapter__destination">Rum Island</div>
    </aside>

</section>