.button {
  background: #DA465D;
  box-shadow: 2px 3px 64px 0px rgba(0, 0, 0, 0.50);
  border-radius: 100px;
  padding: 22px 77px 22px 50px;
  text-transform: uppercase;
  font-family: LucidaGrande;
  font-size: 20px;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.button:before {
  content: '';
  background-image: url(../img/icon/right-arrow.svg);
  position: absolute;
  top: 50%;
  right: 28px;
  width: 26px;
  height: 18px;
  transform: translateY(-50%);
}
