.step {
  background: #A81432;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../img/background/step_background.jpg) center/cover;
}

.step__card {
  width: 374px;
  opacity: 0.92;
  background: #FFFFFF;
  height: 540px;
  display: block;
  margin: -18px auto 0;
  position: relative;
}

.step__icon, .step__direction {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);

}

.step__icon {
  max-width: 142px;
}
.step__direction {
  top: 37px;
}

.step__description {
  font-family: Athelas-Regular;
  font-size: 25px;
  color: #DA465D;
  position: absolute;
  top: 331px;
  width: 100%;
  text-align: center;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.step__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  white-space: nowrap;
  cursor: pointer;
}

.step__wizard {
  width: 442px;
  display: block;
  position: absolute;
  bottom: 122px;
  left: 50%;
  transform: translateX(-50%);
}

.step__wizard-item {
  /* Rectangle 12: */
  opacity: 0.31;
  background: #FFFFFF;
  border-radius: 100px;
  width: 142px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}

.step__wizard-item--active {
  opacity: 0.92;
}

//

.final__card {
  width: 777px;
}

.final__pirate {
  max-width: 279px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.final__header {
  font-family: Athelas;
  font-size: 53px;
  color: #DA465D;
  position: absolute;
  top: 89px;
  right: 67px;
  text-transform: uppercase;
}

.final__subheader {
  font-family: Athelas-Regular;
  font-size: 23px;
  color: #DA465D;
  position: absolute;
  top: 180px;
  right: 158px;
}

.final__icon {
  width: 135px;
  position: absolute;
  top: 70px;
  left: 54px;
}

.final__line {
  height: 150px;
  width: 5px;
  background: #DA465D;
  position: absolute;
  left: 236px;
  top: 78px;
}

.final__support {
  bottom: 0;
  right: 82px;
  position: absolute;
}

.final__card--border {
  border-bottom: 25px solid white;
  background: rgba(255,255,255,0.90);
}