<div data-ng-controller="AdminController">

    <div>
        <button data-ng-click="doNextChapter()">Next Chapter</button>
    </div>
    <div>
        <button data-ng-click="doPirateRaid()">Pirate Raid</button>
        <input type="text" data-ng-model="hitPoints" placeholder="Number of hitpoints">
    </div>
    <div>
        <button data-ng-click="doDrunkenMode()">Drunken mode</button>
        <input type="text" data-ng-model="drunkenTime" placeholder="Seconds of being drunk">
    </div>

</div>