<section class="step">
    <div class="step__card">
        <img class="step__direction" src="app/img/icon/arrow--forward.svg" alt=""/>
        <img class="step__icon" src="app/img/icon/wheel.svg" alt="#"/>
        <div class="step__description">Tilt scherm naar voren om gas te geven.</div>
        <a href="#/chapter-1" class="step__button button">AYE AYE, KAPITEIN</a>
    </div>

    <div class="step__wizard">
        <div class="step__wizard-item"></div>
        <div class="step__wizard-item"></div>
        <div class="step__wizard-item step__wizard-item--active"></div>
    </div>
</section>